<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, odio aperiam
      blanditiis eveniet magnam quae ad ullam voluptatum exercitationem eius
      asperiores cupiditate deserunt eos est, dolorum magni enim ratione error
      sed eum numquam eaque modi! Sint ab neque suscipit ex, doloremque cumque
      eligendi a optio sit exercitationem? Doloremque, odit repudiandae.
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, odio aperiam
      blanditiis eveniet magnam quae ad ullam voluptatum exercitationem eius
      asperiores cupiditate deserunt eos est, dolorum magni enim ratione error
      sed eum numquam eaque modi! Sint ab neque suscipit ex, doloremque cumque
      eligendi a optio sit exercitationem? Doloremque, odit repudiandae.
    </p>
  </div>
</section>
